.homo {
    &__heading {
        &-trans {

            &-example {

                &:nth-of-type(1) {
                    flex: 1.4354151100953720388520195139103;
                }

                &:nth-of-type(2) {
                    flex: 1;
                }
            }
        }
    }
}

.pageNav {
    a:nth-child(2) {
        padding-left: fluid(35, 28) !important;
    }
}