@use '../helpers/' as *;

.journal {

    &__heading-trans {
        margin-bottom: var(--md-gap);
        margin-top: var(--md-gap);
    }

    &__heading-trans-example {
        &:nth-child(1) {
            flex: 3;
        }

        &:nth-child(2) {
            flex: 1;
        }
    }

    &__body {
        &-img {
            margin-bottom: var(--md-gap);
            display: flex;
            gap: var(--sm-gap);
            flex-direction: column;

            & picture:nth-child(2) {
                display: none;

                @include sm {
                    display: block;
                }
            }

        }
    }

}