@use '../helpers/' as *;

.stickerJrnl {

    &__heading-trans {
        margin-bottom: var(--md-gap);
        margin-top: var(--md-gap);
    }

    &__heading-trans-example {
        max-width: 70%;

        @include middleSm {
            max-width: 100%;
        }
    }

    &__body {
        &-img {
            margin-bottom: var(--md-gap);
            display: flex;
            gap: var(--sm-gap);

            @include middleSm {
                flex-direction: column;
            }

            // & img:nth-child(1) {
            //     margin-bottom: var(--md-gap);
            // }
        }
    }

}