@use 'functions' as *;

$laptop: 1296.98;
$middle: 923.98;
$middleSm: 800.98;
$sm: 640.98;

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin middle {
    @media (width <= rem($middle)) {
        @content;
    }
}

@mixin middleSm {
    @media (width <= rem($middleSm)) {
        @content;
    }
}

@mixin sm {
    @media (width <= rem($sm)) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}

