@use 'helpers' as *;

.container {
    max-width: calc(var(--container-width));
    padding: 0 var(--container-padding-x);
    margin-inline: auto;
}

.differenceContainer {
    display: flex;
    gap: var(--sm-gap);
    margin: var(--md-gap) 0 var(--section-gap) 0;

    @include middleSm {
        flex-direction: column;
        margin: var(--md-gap) 0 var(--lg-gap) 0;

        & > span {
            justify-content: center;
            transform: rotate(90deg);
        }
    }
}

.review {
    display: flex;
    gap: var(--md-gap);

    &-img {
        flex: 3;
    }

    &-dscr {
        flex: 1;
    }

    @include middleSm {
        flex-direction: column;
    }
}

.textP {
    width: 70%;

    @include middleSm {
        & {
            width: 100%;
        }
    }
}

.flexVertical {
    display: flex;
    flex-direction: column;
}

.marginBeforeTopic {
    margin-bottom: var(--lg-gap);
}

p:not(:last-child), a {
    margin-bottom: var(--sm-gap);
}   

// .fullWidth {
//     width: 100%;
// }